<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 목록</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body class="container" th:align="center">
<h1>게시글 목록</h1>
<div sec:authorize="isAuthenticated()">
    <b><div sec:authentication="principal.user.name"></div></b>
    <a th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{/admin/adminPage}">관리자 모드</a>
</div>

<form th:action="@{/board/getBoardList}" method="post">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
        <tr>
            <td align="right">
                <select name="searchCondition">
                    <option value="TITLE">제목</option>
                    <option value="CONTENT">내용</option>
                </select>
                <input name="searchKeyword" type="text"/>
                <input type="submit" value="검색"/>
            </td>
        </tr>
    </table>
</form>

<hr><table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
    <tr>
        <th bgcolor="lightskyblue" width="50">번호</th>
        <th bgcolor="lightskyblue" width="400">글 제목</th>
        <th bgcolor="lightskyblue" width="100">작성자</th>
        <th bgcolor="lightskyblue" width="100">작성일</th>
        <th bgcolor="lightskyblue" width="50">조회수</th>
    </tr>

    <tr th:each="board, state: ${boardPage}">
        <td th:text="${state.count}" th:align="center">
        <td><a th:href="@{/board/getBoard(id=${board.id})}" th:text="${board.title}"></a> </td>
        <td th:text="${board.user.name}" th:align="center">
        <td th:text="${#temporals.format(board.createdAt, 'MM-dd-yyyy')}" th:align="center">
        <td th:text="${board.cnt}" th:align="center">
    </tr>
</table>

<nav style="text-align: center">
    <ul class="pagination"
        th:with="start=${T(Math).floor(boardPage.number/10)*10 + 1},
            last=(${start + 9 < boardPage.totalPages ? start + 9 : boardPage.totalPages})">
        <li>
            <a th:href="@{/board/getBoardList(page=1)}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li th:class="${boardPage.first} ? 'disabled'">
            <a th:href="@{/board/getBoardList(page=${boardPage.number})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardPage.number + 1} ? 'active'">
            <a th:text="${page}" th:href="@{/board/getBoardList(page=${page})}"></a>
        </li>
        <li th:class="${boardPage.last} ? 'disabled'">
            <a th:href="@{/board/getBoardList(page=${boardPage.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li>
            <a th:href="@{/board/getBoardList(page=${boardPage.totalPages})}" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>
<br>
<a th:href="@{/board/createBoard}">글 작성하기</a>
</body>
</html>