<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 보기</title>
</head>
<body th:align="center">
<h1>상세 보기</h1>
<form th:action="@{/board/updateBoard}" method="post">
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
    <tr>
        <td bgcolor="lightskyblue" th:text="글제목" width="80" align="center"></td>
        <td><input name="id" type="hidden" th:value="${board.id}">
            <input name="title" type="text" th:value="${board.title}"> </td>
    </tr>
    <tr>
        <td bgcolor="lightskyblue" th:text="작성자" align="center"></td>
        <td th:text="${board.user.name}"></td>
    </tr>
    <tr>
        <td bgcolor="lightskyblue" th:text="본문" align="center"></td>
        <td><textarea name="content" th:text="${board.content}" cols="50" rows="10"></textarea> </td>
    </tr>
    <tr>
        <td bgcolor="lightskyblue" th:text="작성일"></td>
        <td th:text="${#temporals.format(board.createdAt, 'MM-dd-yyyy')}"></td>
    </tr>
    <tr>
        <td bgcolor="lightskyblue" th:text="조회수" align="center"></td>
        <td th:text="${board.cnt}"> </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="글 수정하기">
        </td>
    </tr>
</table>
</form>
<a th:href="@{/board/createBoard}">글 등록</a>&nbsp;&nbsp;&nbsp;
<a th:href="@{/board/deleteBoard(id=${board.id})}">글 삭제</a>&nbsp;&nbsp;&nbsp;
<a th:href="@{/board/getBoardList}">목록보기</a>
</body>
</html>